@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

h1 {
    color: red;
    font-family: 'Comfortaa', sans-serif;
    // font-family: 'Quicksand', sans-serif;
    
}
