@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.logo-header{
    font-family: 'Comfortaa', sans-serif;
    &::after{
        content: "Developer";
        position: absolute;
        font-size: 10px;
        top:35px;
        left:25px;
        color: darkgoldenrod;
        color: dimgray;
    }
}

.navbar-brand{
    position: relative;
}
