
.icon{
    width: 25px;
    margin: 5px;
    text-decoration: none;
    svg{
        width: 100%;
        height: 100%;
    }
    :hover{
        color: dimgray;
        color: #f89406;
        transition: all .3s;
        transform: scale(0.9);
        // animation: fadeIn 1000s forwards;
    }
    :active{
        transition: all .3s;
        transform: scale(1.1);
    }
}